html {
    position: absolute;
}

body {
    
}

header {
    Margin-top: -8px;
    margin-left: 350px;
    margin-right: 60%;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    background-color: turquoise;
    text-align: center;
}

#headerBackground {
    position: relative;
    background-color: white;
    border-bottom: solid black 2px;
    margin-bottom: 50px;
    height: 87px;
}

footer {
    text-align: center;
    background-color: gray;
    height: 80px;
    margin-top: 700px;
    border-top: solid 5px turquoise;
}

nav {
    float: right;
    font-size: 25px;
    margin-top: -110px;    
}

#aboutTab {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    text-decoration: none;
}

#portfolioTab {
    float: left;
    margin-right: 40px;
    text-decoration: none;
}

#contactTab {
    float: left;
    margin-right: 350px;
    text-decoration: none;
} 

#content {
    background-color:white;
    border: groove oldlace 1px;
    margin: auto;
    margin-left: 350px;
    margin-right: 350px;
    padding: 15px;
    font-size: 20px;
    float: right;
    width: 960px;
    margin-bottom: 100px;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
    height: 3px;
    background-color: lightgrey;
}

h1 {
    margin-left: 50px;
}

img {
    float: left;
    margin: 5px 10px 10px 50px;
}

#bioText {
    margin-right: 50px;
}

#p1 {
    margin-left: 50px;
}

#p2 {
    margin: 0;
    margin-left: 50px;
}

#p3 {
   margin: 0;
   margin-left: 50px;
}

#portfolioContent {
    background-color:white;
    border: groove oldlace 1px;
    margin: auto;
    margin-left: 350px;
    margin-right: 350px;
    padding: 15px;
    font-size: 20px;
    float: right;
    width: 960px;
    margin-bottom: 100px;
}

#portfolioFooter {
    text-align: center;
    background-color: gray;
    height: 80px;
    margin-top: 1000px;
    border-top: solid 5px turquoise;
}

#portfolio1 {
    position: relative;
    float: left;
    border: groove 5px lightgrey;
}

#portfolio2 {
    position: relative;
    float: left;
    bottom: 90px;
    border: groove 5px lightgrey;
}

#portfolio3 {
    position: relative;
    float: left;
    bottom: 60px;
    border: groove 5px lightgrey;
}

#portfolio4 {
    position: relative;
    float: left;
    bottom: 60px;
    border: groove 5px lightgrey;
}

#portfolio5 {
    position: relative;
    float: left;
    bottom: 25px;
    border: groove 5px lightgrey;
}

ul {
    
}

#hangman {
    position: relative;
    left: -250px;
    top: 140px;
    background-color: turquoise;
    margin-left: 305.5px;
    margin-right: 303.5px;
    height: 35px;
    padding: 10px;
    font-size: 30px;
}

#rpgGame {
    position: relative;
    background-color: turquoise;
    top: 50px;
    right: 250px;
    margin-right: -115px;
    margin-left: 724px;
    padding: 10px;
    height: 35px;
    font-size: 30px;
}

#triviaGame {
    position: relative;
    background-color: turquoise;
    top: 210px;
    right: 675px;
    margin-right: -115px;
    margin-left: 725px;
    padding: 10px;
    font-size: 30px;
}

#rutgersInfoWidget {
    position: relative;
    background-color: turquoise;
    font-size: 30px;
    margin-left: 775px;
    right: 300px;
    top: 125px;
    padding: 10px;
    margin-right: -166px;
}

#rockPaperScissors {
    position: relative;
    background-color: turquoise;
    font-size: 30px;
    left: -730px;
    top: 295px;
    margin-right: -175px;
    margin-left: 782px;
    padding: 10px;
}

form {

}

#nameBox{
    height: 20px;
    width: 960px;
}

#emailBox {
    height: 20px;
    width: 960px;
}

#messageBox {
    height: 300px;
    width: 960px;
}